body {
  background-color: #283149;
}

.h1-font{
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  font-size: 5rem;
}
.second-h1-font{
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 1px 0 #DA0463;
  font-size: 2rem;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.margin-y{
  margin-top: 8%;
  margin-bottom: 8%;
}

.col{
  gap: 2px;
  margin: 10px;

  width: 150px;
  height: 150px;

  border: 10px solid #404B69;
  border-radius: 15px;

  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;

  cursor: pointer;
}
.col:active{
  transform: scale(1.1);
  /* transition: transform 1s ease-in-out; */
}

.active{
  transform: scale(1.1);
  /* transition: transform 1s ease-in-out; */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

